/* button {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin: auto;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    width: 50%;
    float: right;
  }
  .correctNumber {
    background-color: rgb(0, 174, 0);
    color: aliceblue;
  } 
   */