@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&family=Quicksand:wght@500&display=swap");

body {
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  width: 100%;
  clear: both;
  font-family: "Inter", sans-serif;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin: 0;
}
.new-game {
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: auto;
  margin-top: 1%;
  margin-left: 25%;
  width: 50%;
}
.even-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-evenly;
  align-items: stretch;
  color: whitesmoke;
  padding-top: 1%;;
  padding-left: 5%;
  padding-right:5%;
  padding-bottom: 7%;
  margin: auto;
  margin-top: 1%;
  border-radius: 10px;
  height: 100%;
  width: 50%;
  background-color: #ea4c89;
}

.odd-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-evenly;
  align-items: stretch;
  color: whitesmoke;
  padding-top: 1rem;;
  padding-left: 5%;
  padding-right:5%;
  padding-bottom: .5%;
  margin: auto;
  margin-top: 1%;
  border-radius: 10px;
  height: 100%;
  width: 50%;
  background-color: #ea4c89;
}
.main-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  column-gap: 10%;
  /* padding: 120px; */
  /* padding-left: 10%; */
  width: 100%;
}

button {
  font-family: "Inter", sans-serif;
  font-family: "Quicksand", sans-serif;
  background-color: #ea4c89;
  width: 30%;
  border-radius: 8px;
  border-style: none;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  outline: none;
  padding: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 1.5%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  touch-action: manipulation;
}

button:hover {
  background-color: #f082ac;
}

.active {
  font-size: 250%;
  background-color: rgba(0, 207, 48, 0.644);
}
.test {
  font-size: 250%;
  background-color: rgb(43, 74, 210);
}
