h1 {
  color: red;
}

.even-grid {
  border-radius: 10px;
  height: 100%;
  width: 700px;
  background-color: rgb(151, 151, 151);
}

.odd-grid {
  border-radius: 10px;
  height: 100%;
  width: 700px;
  background-color: rgb(151, 151, 151);
}
.main-table {
  display: flex;
  column-gap: 100px;
  padding: 120px;
}

.active {
  background-color: green;
}
.test {
  background-color: red;
}
